@media screen and (max-width: 478px){
    .page-padding.full_centered{
        align-items: flex-start;
    }
    .container{
        width: 100%;
    }
    .large-text{
        font-size: 22px;
    }
    .auth_form_wrapper{
        padding: 25px 25px 0px;
        border-radius: 0;
        width: 100vw;
        box-shadow: none;
    }
    .auth_form_wrapper .overlay{
        display: none;
    }
    .field-wrapper{
        display: inherit;
        flex-direction: column;
    }
    .link-field.small-margin{
        margin: 5px;
    }
    .auth_form_wrapper.large{
        padding: 50px 0 60px;
    }
    .page-padding.full_centered{
        background-color: #fff;
        box-shadow: 3px 5px 2px #cacaca;
        padding-bottom: 25px;
    }
    .text-field{
        background-color: #cacaca2a;
    }
    .auth-component{
        padding: 0 40px 0px;
    }
    .button.small-text, .button.small-text.dark {
        padding: 12px 15px;
    }
    .grid_3{
        display: flex;
        flex-direction: column;
    }
    .chat_item.contacts{
        height: 100%;
    }
    .chat_item.content {
        height: 100%;
        padding: 0;
    }
    #mobile-back-arrow{
        display: block;
    }
}