@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600;1,700&display=swap');
html, body{
    height: 100%;
    margin: 0;
}
body{
    font-size: 0.8333333333333334vw;
    font-family:  'Times New Roman', Times, serif;
    line-height: 20px;
    font-weight: 400;
    margin: 0; /*remove default*/
    color: #fff;
}
.hidden{
    display: none;
}
input, textarea{
    border: none;
    /*font-family: Verdana;*/
    font-family: 'Times New Roman', Times, serif;
}
input[type="text"]::placeholder, input[type="password"]::placeholder{
    color: rgb(119, 119, 119);

}
input[type="button"], input[type="submit"]{
    -moz-appearance: none;/*remove ignore height on real mobile device*/
    -webkit-appearance: none;
    appearance: none;
}
input:focus, textarea:focus{
    outline:  none;
}
input[name="rememberMe"]{
    border: 2px solid #cacaca;/*prevent ignore on real mobile devices*/
    width: 15px;
    height: 15px;

}
p{
    margin: 0;
}
h1{
    font-weight: 700;
}
/*.text{
    
}*/
.page-padding{
    position: relative;
    padding: 10em 8%;
}
.page-padding.full_centered{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-height: 100%;
}
.container{
    display: flex;/*fix width block position on tablet*/
    max-width: 1920px;
    margin: 0 auto;
}
/*.background_image{
    position: absolute;
    background-image: url("/images/240_F_303009196_lTnrOy6Vtv212qeLboUgteSTwuyJDlPp.jpg");
    background-position: center; /* Center the image 
    background-repeat: no-repeat; /* Do not repeat the image 
    background-size: cover;
    height: 100%;
    width: 100%;
}*/
.background_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    mix-blend-mode: soft-light;
}
/*.background_image_2{
    position: absolute;
    background-image: url("/images/240_F_253026992_KFnLZd6w3anSspGooEYZrPx3djbr0E8B.jpg");
    background-position: center; /* Center the image 
    background-repeat: no-repeat; /* Do not repeat the image 
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    /*left: 50%;
    transform: translate(-50%, 0);
    /*background: radial-gradient(#cacaca1a 0%, transparent 70%);
}*/
#modal > .background_image_2{
    display: none;
}
.auth_form_wrapper{
    position: relative;
    margin: 0 auto;
    padding: 90px 80px 40px 80px;/*top , left&right, bottom*/
    width: 255px;
    min-height: 475px;
    border-radius: 10px;
    overflow: hidden;
    background-color: transparent;
    box-shadow: inset 0 1px 0px 1px rgb(202 202 202 / 50%);/*#cacaca80 same*/
}
.auth_form_wrapper.large{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    height: auto;
    padding: 0;
    border: none;
}
.auth-component{
    position: relative;
    padding: 0 40px 0;
}
.auth_form_wrapper.large .form-block{
    padding: 25px 45px 0;
    row-gap: 25px;
}
.form-block{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    z-index: 2;
}
.field-wrapper{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: flex-start;
}
.row{/*similar to field-wrapper, but does not change to column on mobile*/
    display: flex;
    column-gap: 1.3em;
}
.field-wrapper-2{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
}
.field-wrapper-2 .field-wrapper{
    column-gap: 115px;
}
.content-wrapper-2{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: transparent;
}
.flexi-content-wrapper{/*set max height of child to parent size*/
    position: relative;
    flex: 1;
}
.flexi-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}
.small-margin{
    margin-bottom: 1em;
}
.medium-margin{
    margin-bottom: 3em;
}
.link-field.small-margin{
    margin: 14px;
    letter-spacing: 1px;
}
.text-field{
    background-color: transparent;
    padding: 12px 0;
    border-bottom: 1px solid #cacaca;
    min-width: 0; /*avoid flex children (inputs have min width > 100) exceed parent wodth*/
    border-radius: 0;
}
.search-field{
    padding: 10px 0 10px 25px;
    background-color: #cacaca2a;
    border-radius: 10px;
}
.field-wrapper .label-field{
    flex-grow: 1;
    align-self: center;
}
.text-field-2 {
    border-bottom: none;
    padding: 12px 100px 12px 30px;
}
.text-field{
    padding: 15px;
}
.smaller-text{
    font-size: 16px;
}
.small-text{
    font-size: 20px;
}
.medium-text{
    font-size: 22px;
    letter-spacing: 1.15px;
}
.large-text{
    font-size: 24px;
}
.bold-text{
    font-weight: 700;
}
.large-heading{
    font-size: 48px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.small-heading{
    font-size: 28px;
}
.light{
    color: grey;
}
.dark{
    color: black;
}
.link-field{
    align-self: center;/* prevents equal height on children*/
    color: #357abe;
    white-space: nowrap;
}
.link-btn{
    margin-top: 15px;
    text-decoration: underline;
    cursor: pointer;
    display: block;
    font-weight: 600;
    font-size: 12px;
}
.horozontalline-wrapper{
    position: absolute;
    left: 0;
    right: 0;
}
.horozontalline{
    background-color: #cacaca;
    height: 1px;
    width: 100%;
}
.button, .button-2{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    flex-grow: 1;
    padding: 10px 15px;
    color: white;
    background-color: black;
    cursor: pointer;
    min-width: 100px;
    border: none;
}
.button{
    border-radius: 35px;
    box-shadow: 1px 1px 9px 2px #cacaca;
    font-weight: 600;
}
.button:hover{
    box-shadow: none;
    text-shadow: 1px 1px 3px white;
}
.button.small-text.dark {
    background-color: transparent;
    color: black;
    align-self: stretch;
    text-align: center;
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid #cacaca;/*NB: desktop browsers dont support border width less than 1px*/
    box-shadow: none;
}
.bottom{/*parent must be set relative with reasonable height, should not display flex*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.top{/*parent must be set relative with reasonable height*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.left{/*parent must be set relative with reasonable height, should not display flex*/
    position: absolute;
    left: auto;
    right: 0;
}
.field-wrapper.bottom{
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.field-wrapper.bottom div{
    display: inherit;
}
.text_overlay{
    position: absolute;
    height: 30%;
    background-image: linear-gradient(0deg, rgb(243 243 243 / 43%) 27%, transparent 38%);
    mix-blend-mode: normal;
}
.authlogo{
    margin: 25px auto 0;
}
.error{
    color: red;
}
.full_block{
    width: 100%;
    height: 100%;
}
.grid_2{
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;  
}
.grid_3 {
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 0.8fr 1.4fr 0.8fr;
    grid-auto-columns: 1fr;
    display: grid;
}
.chat_item.contacts{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: transparent;
    padding-left: 10px;
}
.contact{
    cursor: pointer;
    border-radius: 10px;
}
.chat_item.content{
    display: flex;/*solve: last chat of containers margin-top increase parent max-height*/
    flex-direction: column;
    padding: 0 10px 0 10px;
}
.chat_item.profile{
    background-color: white;
}
.profile_pic{
    min-width: 4rem;
    min-height: 4rem;
    max-width: 4rem;
    max-height: 4rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-color: #cacaca;
}
.contact .message{
    margin-top: 0;
}

#messages label{
    text-align: center;
}
.short-text{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/*
.loader {
    display: none;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #cacaca;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }*/
.flexi-content::-webkit-scrollbar, textarea::-webkit-scrollbar{
    width: 4px;
    background-color: transparent;
}
.flexi-content::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track{
    background: transparent;
}
.flexi-content::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb{
    background: #cacaca;
    border-radius: 35px;
}
#mobile-back-arrow{
    display: none;
}
.back-arrow{
    border-bottom: 2px solid #cacaca;
    border-right: 2px solid #cacaca;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 15px;
    transform: rotate(135deg);
    cursor: pointer;
}