html, body{
    height: 100%;
}
body{
    font-size: 0.8333333333333334vw;
    font-family: Verdana;
    line-height: 20px;
    font-weight: 500;
    margin: 0; /*remove default*/
    color: #fff;
}
.hidden{
    display: none;
}
input{
    border: none;
    font-family: Verdana;/*overriding default*/
}
input[type="button"], input[type="submit"]{
    -moz-appearance: none;/*remove ignore height on real mobile device*/
    -webkit-appearance: none;
    appearance: none;
}
input:focus, textarea:focus{
    outline:  none;
}
input[name="rememberMe"]{
    border: 2px solid #cacaca;/*prevent ignore on real mobile devices*/
    width: 12px;
    border-radius: 3px;
    height: 12px;

}
.page-padding{
    padding: 10em 8%;
}
.page-padding.full_centered{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 0;
    background-color: #cacaca2a;
}
.container{
    display: flex;/*fix width block position on tablet*/
    max-width: 1920px;
    margin: 0 auto;
}
.background_image{
    position: absolute;
    background-image: url("/images/istockphoto-1209585940-612x612.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 100%;
    width: 100%;
}
.background_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    mix-blend-mode: soft-light;
}
.radial_background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80vw;
    z-index: -1;
    background: radial-gradient(#cacaca1a 0%, transparent 70%);
}
.auth_form_wrapper{
    position: relative;
    margin: 0 auto;
    padding: 125px 80px 0 80px;/*top , left&right, bottom*/
    width: 275px;
    min-height: 475px;
    /*box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.5);*/
    background-color: #fff;
    border-radius: 10px;
    overflow: visible;
}
.auth_form_wrapper.large{
    display: flex;
    flex-direction: column;
    width: 800px;
    max-width: 60vw; /*for radial space*/
    height: auto;
    padding: 50px 55px 60px;/*top , left&right, bottom*/
    border: none;
}
.auth-component{
    position: relative;
    padding: 115px 40px 0px;
}
.auth_form_wrapper.large .form-block{
    padding: 25px 45px 0;
    row-gap: 25px;
}
.form-block{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.field-wrapper{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.field-wrapper-2{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    margin: auto 0;
}
.field-wrapper-2 .field-wrapper{
    column-gap: 115px;
}
.small-margin{
    margin-bottom: 1em;
}
.medium-margin{
    margin-bottom: 3em;
}
.link-field.small-margin{
    margin: 14px;
    letter-spacing: 1px;
}
.text-field{
    background-color: transparent;
    padding: 12px 0;
    border-bottom: 1px solid #cacaca;
    min-width: 0; /*avoid flex children (inputs have min width > 100) exceed parent wodth*/
    border-radius: 0;
}

.field-wrapper .label-field{
    flex-grow: 1;
    align-self: center;
}
.text-field-2{
    background-color: transparent;
    padding: 15px 0;
    text-align: center;
}
.text-field{
    padding-left: 15px;
}
.small-text{
    font-size: 14px;
}
.large-text{
    font-size: 18px;
}
.medium-text{
    font-size: 16px;
    letter-spacing: 1.15px;
}
.bold-text{
    font-weight: bold;
}
.large-heading{
    font-size: 48px;
}
.small-heading{
    font-size: 28px;
}
.light{
    color: grey;
}
.dark{
    color: black;
}
.link-field{
    align-self: center;/* prevents equal height on children*/
    color: #357abe;
    white-space: nowrap;
}
.horozontalline-wrapper{
    position: absolute;
    left: 0;
    right: 0;
}
.horozontalline{
    background-color: #cacaca;
    height: 1px;
    width: 100%;
}
.button, .submit-button{
    flex-grow: 1;
    padding: 15px 15px;
    color: white;
    border-radius: 35px;
    /*background-color: #002D62;*/
    background-color: black;
    /*box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.5);*/
    cursor: pointer;
    font-weight: 600;
}
.submit-button{
    min-width: 300px;
    border-radius: 5px;
    margin-top: 5px;
}
.button.small-text.dark {
    background-color: #fff;
    color: black;
    align-self: stretch;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    padding: 12px 15px;
    border: 1px solid #cacaca;
}
.bottom{/*parent must be set relative with reasonable height, should not display flex*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.top{/*parent must be set relative with reasonable height*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.field-wrapper.bottom{
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.field-wrapper.bottom div{
    display: inherit;
}
.text_overlay{
    position: absolute;
    height: 30%;
    background-image: linear-gradient(0deg, rgb(243 243 243 / 43%) 27%, transparent 38%);
    mix-blend-mode: normal;
}
.authlogo{
    margin: 25px auto 0;
}
.error{
    color: red;
}